/WebApplicationHW/nbproject/private/
/WebApplicationHW/build/
/WebApplicationHW/dist/
/CustomersJSP/nbproject/private/
/CustomersJSP/build/
/CustomersJSP/dist/
/CustomersJSP2/nbproject/private/
/CustomersJSP2/dist/
/CustomersJSP2/build/
/CustomersJSF/nbproject/private/
/CustomersJSF/build/
/CustomersJSF/dist/