/WebApplicationHW/nbproject/private/
/WebApplicationHW/build/
/WebApplicationHW/dist/
/CustomersJSP/nbproject/private/
/CustomersJSP/build/
/CustomersJSP/dist/
/CustomersJSF/nbproject/private/
/CustomersJSF/build/
/CustomersJSF/dist/
/CustomersJSF2/nbproject/private/
/CustomersJSF2/build/
/CustomersJSF2/dist/