/WebApplicationHW/nbproject/private/
/WebApplicationHW/build/
/WebApplicationHW/dist/
/CustomersJSP/nbproject/private/
/CustomersJSP/build/
/CustomersJSP/dist/
/CustomersJSF/nbproject/private/
/CustomersJSF/build/
/CustomersJSF/dist/
/CustomersJSF2/nbproject/private/
/CustomersJSF2/build/
/CustomersJSF2/dist/
/CustomersJPA/build/
/CustomersJPA/dist/
/CustomersPJA/nbproject/private/
/CustomersPJA/build/
/CustomersPJA/dist/
/CustomersCDI/nbproject/private/
/CustomersCDI/build/
/CustomersCDI/dist/
/CustomersJMS/nbproject/private/
/CustomersJMS/build/
/CustomersJMS/dist/
/JMSLogger/nbproject/private/
/JMSLogger/build/
/CustomersWS/nbproject/private/
/CustomersWS/build/
/CustomersWS/dist/